In [1]:
import pandas as pd
import numpy as np

In [2]:
!pip install lxml html5lib beautifulsoup4

Collecting lxml
  Downloading https://files.pythonhosted.org/packages/79/37/d420b7fdc9a550bd29b8cfeacff3b38502d9600b09d7dfae9a69e623b891/lxml-4.5.2-cp36-cp36m-manylinux1_x86_64.whl (5.5MB)
     |████████████████████████████████| 5.5MB 7.4MB/s eta 0:00:01��███████████████▌ | 5.3MB 7.4MB/s eta 0:00:01
Requirement already satisfied: html5lib in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.9999999)
Collecting beautifulsoup4
  Downloading https://files.pythonhosted.org/packages/66/25/ff030e2437265616a1e9b25ccc864e0371a0bc3adb7c5a404fd661c6f4f6/beautifulsoup4-4.9.1-py3-none-any.whl (115kB)
     |████████████████████████████████| 122kB 37.2MB/s eta 0:00:01
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from html5lib) (1.15.0)
Collecting soupsieve>1.2 (from beautifulsoup4)
  Downloading https://files.pythonhosted.org/packages/6f/8f/457f4a5390eeae1cc3aeab89deb7724c965be841ffca6cfca9197482e470/soupsieve-2.0.1-py3-none-any.whl
Installing collected packages: lxml, soupsieve, beautifulsoup4
Successfully installed beautifulsoup4-4.9.1 lxml-4.5.2 soupsieve-2.0.1

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

scraping the table from the Wikipedia page using pandas and beautifulsoup:

In [4]:
dfs=pd.read_html(url)

In [5]:
print(len(dfs))

3

In [6]:
df = dfs[0]

In [7]:
df.head()

  Postal Code         Community              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [8]:
df.rename(columns={'Community':'Borough'}, inplace=True)

In [9]:
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [10]:
df.shape

(180, 3)

In [11]:
df.isna()

     Postal Code  Borough  Neighbourhood
0          False    False          False
1          False    False          False
2          False    False          False
3          False    False          False
4          False    False          False
..           ...      ...            ...
175        False    False          False
176        False    False          False
177        False    False          False
178        False    False          False
179        False    False          False

[180 rows x 3 columns]

In [12]:
df['Borough'].replace('Not assigned',np.nan ,inplace=True)

In [13]:
df.isna()

     Postal Code  Borough  Neighbourhood
0          False     True          False
1          False     True          False
2          False    False          False
3          False    False          False
4          False    False          False
..           ...      ...            ...
175        False     True          False
176        False     True          False
177        False     True          False
178        False    False          False
179        False     True          False

[180 rows x 3 columns]

In [14]:
df.dropna(axis=0, inplace=True)

In [20]:
df.reset_index(drop=True)

,Postal Code,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [21]:
df.shape

(103, 3)